
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body{
    background-color:  #eeeeee;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #191e4988;
    height: 80px;
}
#ContentHeader {
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
}
#ContentHeader #ImgHeader img{
    width: 40px;
    padding: 5px;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    margin-top: 20px;
    margin-left: 100px;
}
nav a {
    font-family: "Montserrat";
    padding-top: 7px;
    font-size: 25px;
    font-weight: 500;
    margin-right: 20px;
    color: white;
}
nav a:hover{
    color: #191E49;
}
#TesteGratuito {
    cursor: pointer;
    background-color: #191E49;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 200px;
    font-family: "Montserrat";
}#TesteGratuito:hover{
    opacity: 50%;
}

#Primari {
    background: linear-gradient(to bottom, #35333275, #eeeeee69);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
#TxtPrimari{
    width: 30%;
    margin-left: 10%;
    margin-top: 20px;
}#TxtPrimari p {
    margin-top: 200px;
    font-size: 14px;
    color: #191E49;
    font-family: monospace;
}#TxtPrimari h2 {
    margin-top: 20px;
    font-size: 50px;
    color: #191E49;
    font-family: sans-serif;
}#TxtPrimari #p2 {
    margin-top: 20px;
    font-size: 22px;
    color: #191E49;
    font-family: sans-serif;
    margin-bottom: 50px;
}#TxtPrimari #p3 {
    background-color: #191E49;
    border-radius: 10px;
    width: 250px;
    height: 55px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}#TxtPrimari #p3:hover{
    opacity: 50%;
}
#ImgPrimari{
    width: 50%;
}#ImgPrimari img {
    margin-top: 250px;
    width: 80%;
    margin-left: 10%;
}

@media(max-width: 800px){
    header{
        height: 80px;
    }
    #ContentHeader {
        width: 100%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }
    #ContentHeader #ImgHeader{
        font-size: 30px;
        margin-left: 5px;
       color: white; 
       display: none;
    }
    
    nav {
        padding: 10px;
        margin-left: 0px;
        display: flex;
        justify-content: space-around;
    }
    nav a {
        font-size: 9px;
    }
    #TesteGratuito {
        width: 100px;
    }
    #Primari {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }
    #Primari #TxtPrimari {
        width: 80%;
        margin-left: 10%;
    } #Primari #TxtPrimari h2 {
        font-size: 30px;
    }
    #TxtPrimari p {
        margin-top: 50px;
    }
    #Primari #ImgPrimari {
        width: 80%;
        margin-left: 10%;
    } #Primari #ImgPrimari img {
        margin-top: 180px;
        margin-left: 0;
        width: 100%;
    }
}
#Faixas {
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: row;
}
/* Estilos básicos do container */
.container {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden; /* Oculta as faixas quando saem da área visível */
    background-color: #f0f0f0;
  }
  
  /* Estilos básicos das faixas */
  .stripe {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #191E49; 
    top: 5%; /* Ajusta a posição vertical da primeira faixa */
    left: -100%; /* Inicialmente fora da tela, à esquerda */
    animation: moveStripe 10s linear infinite;
  }
  .stripe2 {
    top: 65%; /* Ajusta a posição vertical da segunda faixa */
    background-color: #191e4988; /* Cor diferente para a segunda faixa */
    animation-delay: 2.5s; /* Atraso para a segunda faixa começar depois da primeira */
  }
  /* Animação para mover as faixas da esquerda para a direita */
  @keyframes moveStripe {
    0% {
      left: -100%; /* Fora da tela à esquerda */
    }
    100% {
      left: 100%; /* Fora da tela à direita */
    }
  }
  #Slide {
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;
}

#ContendSlide {
    width: 50%;
}
#img_slide{
    width: 50%;
}#img_slide img {
    width: 100%;
}

#Slide p{
    text-align: center;
    font-size: 18px;
    font-family: monospace;
    color: #191E49;
    margin-top: 20px;
}
#Slide h2 {
    margin-top: 20px;
    text-align: center;
    font-size: 52px;
    font-family: sans-serif;
    color: #191E49;
}
#Slide #Sp2 {
    margin-top: 20px;
    text-align: center;
    color: #191E49;
}
#TimeMoney {
    width: 80%;
    margin-left: 10%;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media(max-width: 800px){
    #Slide {
        width: 80%;
        margin-left: 10%;
        margin-top: 50px;
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 150px;
    }
    #ContendSlide {
        width: 100%;
    }
    
    #Slide p{
        text-align: center;
        font-size: 18px;
        font-family: monospace;
        color: #191E49;
        margin-top: 20px;
    }
    #Slide h2 {
        margin-top: 20px;
        text-align: center;
        font-size: 30px;
        font-family: sans-serif;
        color: #191E49;
    }
    #Slide #Sp2 {
        margin-top: 20px;
        text-align: center;
        color: #191E49;
    }
    #img_slide{
        width: 100%;
        margin-bottom: 30px;
    }#img_slide img {
        width: 100%;
    }
    
    
}


#TimeMoney {
    width: 80%;
    margin-left: 10%;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.ElementTimeMoney{
    background-color: #6f78ad;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 3px 30px #191E49;
    padding: 20px;
}
.ElementTimeMoney img {
    margin-top: 20px;
    width: 20%;
    margin-bottom: 50px;
}
.TMp1{
    font-size: 28px;
    font-family: sans-serif;
    color: #ffffff;
    font-weight: 600;
}
.TMp2{
    margin-top: 30px;
    font-size: 20px;
    font-family: sans-serif;
    color: #ffffff;
    margin-bottom: 20px;  
}

@media(max-width: 800px){
    #TimeMoney {
        width: 90%;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
    }
    .ElementTimeMoney{
        width: 80%;
        margin-left: 10%;
        margin-bottom: 20px;
    }

}
#XP {
    margin-top: 150px;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
}

#XPTXT {
    width: 50%;
}#XPTXT #XPp2 {
    padding-top: 50px;
    font-size: 50px;
    font-weight: 600;
    font-family: sans-serif;
    color: #191E49;
    margin-bottom: 50px;
}#XPTXT #XPp3 {
    font-size: 24px;
    font-family: sans-serif;
    color: #191E49;
}
#XPIMG {
    margin-top: 100px;
    width: 50%;
}
#XPIMG img{ 
    width: 60%;
    margin-left: 20%;
}
@media(max-width: 800px){
    #XP {
        flex-direction: column;
    }#XPTXT {
        width: 80%;
        margin-left: 10%;
    }#XPTXT #XPp2 {
        font-size: 30px;
    }#XPIMG {
        margin-top: 30px;
        margin-left: 10%;
        width: 80%;
    }#XPIMG img {
        width: 100%;
        margin-left: 0;
    }
}




#TheBest {
    margin-top: 150px;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
}
#Phone {
    width: 50%;
}
#TheBest #Phone img {
    margin-top: 100px;
    width: 50%;
}
#TBTXT{
    width: 50%;
    margin-top: 50px;
}#TBTXT #TBP1{
    margin-top: 100px;
    font-size: 15px;
    font-family: monospace;
    color: #474F7B;
}#TBTXT #TBP2 {
    margin-top:  30px;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 600;
    font-family: sans-serif;
    color: #191E49;
}#TBTXT #TBP3 {
    margin-top:  30px;
    margin-bottom: 30px;
    font-size: 24px;
    font-family: sans-serif;
    color: #191E49;
}
@media(max-width:800px){
    #TheBest {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 30px;
    }#TheBest #Phone{
        margin-top: 20px;
        width: 100%;
    } #TheBest #Phone img{
        width: 80%;
        margin-left: 10%;
    } 
    #TBTXT{
        width: 100%;
        margin-top: 50px;
    }#TBTXT #TBP1{
        margin-top: 100px;
        font-size: 15px;
        font-family: monospace;
        color: #474F7B;
    }#TBTXT #TBP2 {
        margin-top:  30px;
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: 600;
        font-family: sans-serif;
        color: #191E49;
    }#TBTXT #TBP3 {
        margin-top:  30px;
        margin-bottom: 30px;
        font-size: 24px;
        font-family: sans-serif;
        color: #191E49;
        margin-bottom: 30px;
    }
}
#Amor {
    margin-top: 50px;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
}#ATXT {
    margin-top: 50px;
    width: 50%;
}#ATXT #AP1 {
    font-size: 15px;
    font-family: monospace;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #474F7B;
}#ATXT #AP2 {
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #191E49;
}#ATXT #AP3 {
    font-size: 24px;
    font-family: sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #191E49;
}#ATXT #BtnAmor {
    width: 250px;
    background-color: #191E49;
    font-size: 20px;
    color: white;
    height: 40px;
    border-radius: 10px;
}
#AImg {
    width: 50%;
    text-align: center;
}#AImg img {
    margin-top: 30px;
    width: 50%;
    border-radius: 20px;
}
@media(max-width: 800px) {
    #Amor {
        width: 90%;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }#ATXT {
        margin-left: 5%;
        width: 90%;
    }#AImg {
        margin-top: 50px;
        width: 100%;
    }#AImg imag {
        width: 100%;
    }#ATXT #AP2 {
        font-size: 30px;
    }
}
#Depoimento {
    margin-top: 100px;
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} #Depoimento div{
    width: 30%;
} #Depoimento div img {
    margin-top: 10px;
    margin-bottom: 20px;
}#Depoimento div .DepoimentoP {
    font-size: 20px;
    font-family: sans-serif;
    color: #191E49;
    line-height: 30px;
}
@media(max-width: 800px){
    #Depoimento {
        display: flex;
        flex-direction: column;
    } #Depoimento div{
        width: 80%;
        margin-left: 10%;
        margin-bottom: 30px;
    }
}
#Teste {
    border-radius: 20px;
    text-align: center;
    margin-top: 150px;
    width: 80%;
    margin-left: 10%;
    background-color: white;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.596);
    margin-bottom: 100px;
}#TestContent h1 {
    font-size: 50px;
    font-family: sans-serif;
    color: #191E49;
}#TestContent p {
    font-size: 24px;
    color: #191E49;
}#TestContent #buttons button{
    width: 250px;
    height: 40px;
    border-radius: 10px;
    color: white;
    background-color: #191E49;
    font-weight: 600;
}#TestContent #buttons button:hover {
    opacity: 70%;
}


#PlanosI {
    margin-top: 100px;
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}#PlanosI h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #191E49;
    font-size: 30px;
    font-family: sans-serif;
}#PlanosI p {
    color: #474F7B;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: monospace;
}
#Individual {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
}
#Individual .Ind {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    background-color:#d1cccc;
    box-shadow: 2px 2px 15px black;
}
@media(max-width: 800px){
    #Individual {
        margin-top: 100px;;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #Individual .Ind {
        text-align: center;
        width: 100%;
        margin-top: 50px;
    }
}

#Personalizados {
    margin-top: 100px;;
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#Personalizados div {
    padding: 20px;
    text-align: center;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    background-color:#d1cccc;
    box-shadow: 2px 2px 15px black;
}
@media(max-width: 800px){
    #Personalizados {
        margin-top: 100px;;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #Personalizados div {
        text-align: center;
        width: 90%;
        margin-left: 5%;
        margin-top: 50px;
    }
}
#Personalizados h2 {
    font-size: 30px;
    font-family: sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #191E49;
}
#Personalizados p {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: monospace;
    color: #474F7B;
}
.BTNA {
    width: 200px;
    height: 50px;
    background-color: #191E49;
    color: white;
    font-weight: 600;
    font-family: monospace;
    border-radius: 10px;
    cursor: pointer;
}
.BTNA:hover{
    opacity: 70%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  footer {
    background-color: #191E49;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  footer a {
    color: white;
  }
  
  @media (max-width: 800px) {
    #TestContent h1 {
        font-size: 30px;
    }
    .footer-container {
      flex-direction: column;
    }
  
    .footer-section {
      margin: 20px 0;
    }
  }
  